#define SPI_PSELS(sck_port, sck_pin, sdio_port, sdio_pin) \
    <NRF_PSEL(SPIM_SCK, sck_port, sck_pin)>, \
    <NRF_PSEL(SPIM_MOSI, sdio_port, sdio_pin)>, \
    <NRF_PSEL(SPIM_MISO, sdio_port, sdio_pin)>

&pinctrl {
    spi0_default: spi0_default {
    };

    spi0_sleep: spi0_sleep {
        low-power-enable;
    };
};

#include <zephyr/dt-bindings/input/input-event-codes.h>

&spi0 {
    status = "disabled";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&glove80_ext 4 GPIO_ACTIVE_LOW>; /* nCS = EXT4 = P0.25 */
    /*cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;*/

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&glove80_ext 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* Mot = EXT2 = P0.24 */
        /*irq-gpios = <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;*/
        cpi = <600>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;

        force-awake;
        /* keep the sensor awake while ZMK activity state is ACTIVE,
           fallback to normal downshift mode after ZMK goes into IDLE / SLEEP mode.
           thus, the sensor would be a `wakeup-source` */
    };
};

#include <dt-bindings/zmk/keys.h>

/ {
    // regular listener if trackball is used on split central
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&trackball>;
    };

    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    // split listener if trackball is used on split peripheral over BLE
    trackball_split_listener: trackball_split_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&trackball_split>;
    };
    
    // alternative options to implement active low switches
    // https://docs.nordicsemi.com/bundle/ncs-latest/page/zephyr/build/dts/api/bindings/input/gpio-keys.html?utm_source=chatgpt.com
    // https://zmk.dev/docs/config/kscan
    switch_inputs: switch_inputs {
        compatible = "zmk,input-listener";
        status = "disabled";

        // see https://github.com/zmkfirmware/zmk/blob/main/app/include/dt-bindings/zmk/keys.h
        toggle_up {
            gpios = <&glove80_ext 1 GPIO_ACTIVE_LOW>;
            label = "Toggle Switch Up";
            binding = <&kp N1>;
        };

        toggle_down {
            gpios = <&glove80_ext 3 GPIO_ACTIVE_LOW>;
            label = "Toggle Switch Down";
            binding = <&kp N2>;
        };
    };
};